*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: 'Press Start 2P', cursive;
  color: #ddd;
  margin: 0;
  z-index: 1;
  background: #444;
}
body:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#111111, #444444);
  z-index: -1;
}
h1 {
  text-align: center;
  margin: 0;
  padding: 30px 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}
.lang {
  display: flex;
  flex-direction: column-reverse;
  flex: 1 0 auto;
  margin: 10px;
}
.lang label {
  margin: 0 0 10px;
}
.text {
  resize: none;
  width: 100%;
  height: 200px;
  padding: 10px;
  font-family: 'Source Code Pro', monospace;
  font-size: 18px;
  border: 2px solid #ddd;
  outline: none;
  background: #222;
  color: #ddd;
}
.text:focus {
  border-color: #06c506;
}
.text:focus + label {
  color: #06c506;
}
.icon {
  text-align: center;
}
@media (max-width: 580px) {
  .container {
    flex-direction: column;
    align-items: stretch;
  }
  .text {
    height: 180px;
  }
}
